.daily-question {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  min-width: 170px;
  min-height: 250px;
}

.img-canvas {
  /* width: 170px;
  height: 250px; */
  box-shadow: rgb(255 255 255 / 30%) 1px 0px 20px 7px,
    rgb(255 255 255 / 30%) 0px 30px 60px -30px;
}

.resolution-marker {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  background-color: rgb(229, 9, 20);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

@media only screen and (max-device-width: 375px) {
  /* .img-canvas {
    width: 170px;
    height: 250px;
  } */

  .resolution-marker {
    font-size: 8px;
  }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 420px) {
  /* .img-canvas {
    width: 170px;
    height: 250px;
  } */

  .resolution-marker {
    font-size: 10px;
  }
}
