.answer-area {
  width: 90%;
  /* flex-grow: 1; */
  /* display: flex;
  flex-direction: column;
  margin-top: 16px; */
}

.answer {
  background-color: #393939;
  margin-bottom: 8px;
  border-radius: 2px;
  height: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1), 0 1px 4px hsla(0, 0%, 0%, 0.1),
    0 2px 8px hsla(0, 0%, 0%, 0.1);
}

.wrong {
  --background: #de585f;
  animation: flip 0.5s ease forwards;
  animation-delay: 0.2s;
}

.pass {
  --background: rgb(211, 175, 56);
  animation: flip 0.5s ease forwards;
  animation-delay: 0.2s;
}

.success {
  --background: hsl(139deg 27% 49%);
  animation: flip 0.5s ease forwards;
  animation-delay: 0.2s;
}

/* animations */

@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: #393939;
  }
  45% {
    transform: rotateX(90deg);
    background-color: #393939;
  }
  55% {
    transform: rotateX(90deg);
    background-color: var(--background);
  }
  100% {
    transform: rotateX(0);
    background-color: var(--background);
  }
}

@media only screen and (max-device-width: 375px) {
  .answer {
    margin-bottom: 8px;
    height: 20px;
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 420px) {
  .answer {
    margin-bottom: 8px;
    height: 32px;
  }
}
