.answer-input-area {
  /* position: absolute;
  bottom: 0px; */
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 2px;
  width: 96%;
  margin-top: 16px;
  max-width: 480px;
}

.answer-button {
  background-color: hsl(139deg 27% 49%);
  color: #fff;
  border-radius: 4px;
  height: 40px;
  width: 80px;
  padding: 0 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 4px;
  border: 0;
}

.answer-input {
  flex: 1;
  border: 0;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  /* height: 32px; */
  font-size: 16px;
}

.change-resolutions {
  background-color: rgb(211, 175, 56);
}

@media only screen and (min-device-width: 376px) and (max-device-width: 420px) {
  .answer-input-area {
    position: absolute;
    bottom: 0px;
  }

  .answer-button {
    font-size: 12px;
    width: 64px;
    height: 32px;
  }
}

@media only screen and (max-device-width: 375px) {
  .answer-input-area {
    position: absolute;
    bottom: 0px;
  }

  .answer-button {
    font-size: 12px;
    width: 64px;
    height: 32px;
  }

  .answer-input {
    font-size: 12px;
  }
}
